/*Base Code from sadgrlonline's Layout Builder*/
	:root {}

/*=================================================================================================*/    
    /*Custom Fonts*/
		@font-face {
			font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
            }

        @font-face {
           font-family: Nunito;
           src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
           font-weight: bold;
            }

        @font-face {
           font-family: Nunito;
           src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
           font-style: italic;
            }

        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
            font-style: italic;
            font-weight: bold;
            }
/*=================================================================================================*/
	/*Applied to Everything + Body*/
        body {
            font-family: 'Nunito', sans-serif;
            margin: 0;
         }

        * {box-sizing: border-box; /*Applied border to all elements*/}

			
/*=================================================================================================*/
    /*Container*/        
			/* the "container" that wraps around the entire website */
            #container {
                max-width: 1100px;
                margin: 0 auto;
				position: relative;
				width:auto;
            }

            /* container for all links except navigation */
            #container a {
                color: #FFE87C;
                font-weight: bold;
				text-decoration:none;
            }

/*=================================================================================================*/
	/*Heading + Navigation Bar*/
			#navbar {
                height: 25px;
                background-color: #704F5D;
                width: 100%;
            }
            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }
            #navbar li {
                padding-top: 30px;
            }

            /* navigation links*/
            #navbar li a {
                color: #FBB9B4;
                font-weight: 800;
                text-decoration: none;
             }

            #navbar li a:hover {
                color: #ECF0BD;
            }
/*=================================================================================================*/
	/* Sidebars + Main */
   #flex {display: flex;}

   /* Sidebars. For separate #leftSidebar and #rightSidebar */
            aside {
                background-color: #704F5D80;
                width: 200px;
                padding: 20px;
                font-size: smaller;
                /* this makes the sidebar text slightly smaller */
            }

	/*Main Part*/
            main {
                flex: 1;
                padding: 20px;
                order: 2;
            }
	/*Order*/
			#leftSidebar {order: 1;}
            #rightSidebar {order: 3;}
			
	/*Footer*/		
            footer {
                background-color: #704F5D99;
                width: 100%;
                height: 65px;
                padding: 10px;
				padding-bottom:-5px;
                text-align: center;
				display: table;
            }

/*=================================================================================================*/
	/*Text*/
            h1 {font-size: 25px;}
            h2 {}
            h3 {}
            bold {}
			em{}
			small{}
			mark{}
			pre{color: #FFFBE3;}

/*=================================================================================================*/
    /*Container*/   
			.box {
                background-color: #52484550;
                /*border: 1px solid #FFF4B1;*/
                padding: 5px;
				padding-left:10px;
				border-radius: 25px;	
            }

            #topBar {
                width: 100%;
                height: 30px;
                padding: 10px;
                font-size: smaller;
            }
			

            /*container width - 100 = max-width*/
            @media only screen and (max-width: 800px) {
                #flex {flex-wrap: wrap;}

                aside {width: 100%;}

                /*Order of appearance for mobile*/
                main {order: 2;}
                #leftSidebar {order: 1;}
                #rightSidebar {order: 3;}
                #navbar ul {flex-wrap: wrap;}
            }