body {
  background-color: #fff9e5;
  text-align: center;
  margin:0;
  padding:0;
}

h1 {
  color:black;
  font-weight: bold;
  
}

p {
  color: #3c3c3c;
  text-align: center;
}

article {
	text-align: left;
	padding: 20px;
	margin:20px;
	}

.carousel-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

header{
	background-color: #3c3c3c;	
	}

/*Gallery*/
	div.gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	div.gallery-item {
		margin: 1.5%;
		width: 30%;
		height: 30%;
	}

	div.gallery-item:hover {
		opacity:0.5;
	}

	div.gallery-item img {
		width: 100%;
		height: auto;
}

/*Drop Down==========================================================*/
	.dropbtn{
		color:#fff9e5;
		background-color:#3c3c3c;
		font-size: 16px;
		border:none;
		cursor: pointer;
		margin:0;
		
	}
	
	.dropdown{
		position:relative;
		float:right;
	}
	
	.dropdown-content{
	  display: none;
	  position: absolute;
	  right: 0;
	  background-color: #3c3c3c70;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}	
	.dropdown-content a {
	  color: #fff9e5;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}

	.dropdown-content a:hover {background-color: #fff9e2;}

	.dropdown:hover .dropdown-content {display: block;}

	.dropdown:hover .dropbtn {color: pink;}

/*Navigation Links==================================================*/
		
	.navbar-custom{
		background-color: #3c3c3c;
		a:link {
		  color: #fff9e5;
		  background-color: transparent;
		  text-decoration: none;
		}
		a:visited {
		  color: #fff9e5;
		  background-color: transparent;
		  text-decoration: none;
		}
		a:hover {
		  color: pink;
		  background-color: transparent;
		  text-decoration: none;
		}
		a:active {
		  color: pink;
		  background-color: transparent;
		  text-decoration: none;	  
		}
	}
	
	.topnav-right {
		float: right;
	}

/*List*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

ul li {
  float: left;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

		
	#footer{
		background-color: #3c3c3c;
		width: 100%;
			a:visited {
		  color: #fff9e5;
		  background-color: transparent;
		  text-decoration: none;
		  
		}
		a:hover {
		  color: pink;
		  background-color: transparent;
		  text-decoration: none;
		}
		a:active {
		  color: pink;
		  background-color: transparent;
		  text-decoration: none;
	}	